### Import Dependencies and Load the data

In [19]:
import os
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, confusion_matrix
from sklearn.ensemble import RandomForestRegressor

In [32]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline,make_pipeline

In [20]:
path_hour = None
for root, dirs, filename in os.walk(os.getcwd()): 
    for file in filename:
        if file == 'hour_new.csv':
            path_hour = os.path.join(root, file)

In [21]:
df = pd.read_csv(path_hour)

### Feature Engineering

In [24]:
df.head(3)

   Unnamed: 0  instant      dteday  ... casual  registered cnt
0           0        1  2011-01-01  ...      3          13  16
1           1        2  2011-01-01  ...      8          32  40
2           2        3  2011-01-01  ...      5          27  32

[3 rows x 18 columns]

In [25]:
df.columns

Index(['Unnamed: 0', 'instant', 'dteday', 'season', 'yr', 'mnth', 'hr',
       'holiday', 'weekday', 'workingday', 'weathersit', 'temp', 'atemp',
       'hum', 'windspeed', 'casual', 'registered', 'cnt'],
      dtype='object')

In [26]:
df = df.drop(columns=['Unnamed: 0', 'instant', 'dteday'])
df.head(4)

     season    yr     mnth  hr  ... windspeed casual registered cnt
0  springer  2011  January   0  ...       0.0      3         13  16
1  springer  2011  January   1  ...       0.0      8         32  40
2  springer  2011  January   2  ...       0.0      5         27  32
3  springer  2011  January   3  ...       0.0      3         10  13

[4 rows x 15 columns]

In [27]:
cat_features = [x for x in df.columns if df[x].nunique() <= 25]
num_features = [x for x in df.columns if x not in cat_features]

In [31]:
cat_features

['season',
 'yr',
 'mnth',
 'hr',
 'holiday',
 'weekday',
 'workingday',
 'weathersit']

**Encoding Categorical Features**

In [ ]:
transformer = ColumnTransformer(transformers = [
    ('tnf1',OneHotEncoder(sparse=False, drop_first=True),['holiday','weathersit','workingday']),
    ('tnf2',OrdinalEncoder())
]
)

['temp', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'cnt']